body{
    background: #f0f0f5;
}
a{
    text-decoration:none;
}
:root{
    --title-color:#322153;
    --primary-color:#34cb79;
}
header{
     margin-top:48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    display: flex;
    color:#322153;
    font-size:1.2em;
    
}
header  span{
    display: flex;
    margin-right:10px;
width:20px;
height: 20px;
}
*{
    margin:0;
    padding:0;
}


